body{
    font-size: 1.5em;
    text-align: center;
}

.nav{
    position: fixed;
    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

a{
    flex: 1 1 10vw;
    padding:  0 1vw 0 1vw;
}

button{
    width: 10vw;
    height: 30px;
    font-family: 'Source Serif Pro', serif;
    color: white;
    text-align: center;
    border-color: none;
}

h1{
    padding: 30px 0 0 0;
}
h2{
    font-size: 1.5em;
}

.meaning{
    opacity: 60%;
    color: black;
    border-radius: 20%;
    padding: 100px 50px;
    height: 150px;
    width: 25vw;
    background-size: cover;
    font-weight: 600;
    font-size: 1.7em;
    text-shadow: 1px 1px white;
}

#h_m{
    background-image: url("https://images.unsplash.com/photo-1588952547062-b21998a10e83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
}
#not-forget{
    background-image: url("https://images.unsplash.com/photo-1495583237039-44cb1143f0b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
}
#hyac{
    background-image: url("https://storage.needpix.com/rsynced_images/grape-hyacinth-3319108_1280.jpg");
}

img{
    width: 30vw;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item{
    flex: 1 1 400px;
}

#home{
    background-image: url("https://images.unsplash.com/photo-1485487656106-d6aa01db3271?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1012&q=80");
    background-size: cover;
    font-size: 15px;
}
#red{
    background-image: url("https://images.unsplash.com/photo-1516710772637-d379a8b58577?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    font-size: 15px;
}
#orange{
    background-image: url("https://p1.piqsels.com/preview/500/1000/834/orange-flowers-floral-nature-plant-a-lot.jpg");
    background-size: cover;
    font-size: 15px;
}
#yellow{
    background-image: url("https://images.unsplash.com/photo-1582667023252-6d7a75de6eff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    font-size: 15px;
}
#purple{
    background-image: url("https://i1.pickpik.com/photos/251/828/57/blue-pillow-aubrieta-aubrietien-cruciferous-plant-preview.jpg");
    background-size: cover;
    font-size: 15px;
}
#white{
    background-image: url("https://images.unsplash.com/photo-1495930425816-2dbeae7f4d47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    color: black;
    background-size: cover;
    font-size: 15px;
}
#pink{
    background-image: url("https://images.unsplash.com/photo-1494271823928-a80211877d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    font-size: 15px;
}

