@import url('https://fonts.googleapis.com/css?family=Oswald|Quicksand&display=swap');

body {
    margin: 0;
    cursor: url("small_cursor.png"), auto;
}

/* Header */
.header {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin: 0.01vw 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 10vw;
    margin-right: 1vw;
    transition: 1s;
}
 
#logo:hover {
    transform: rotate(-180deg);
}

#banner {
    width: 100vw;
}

/* The Nav Bar */
nav {
    position: sticky;
    top: 0px;
    display: block;
    margin: auto;
}

.nav {
    background: white;
    color: black;
    font-family: 'Oswald', sans-serif;
    border: none;
    width: 24vw;
    height: 3.5vw;
    margin-bottom: 1vw;
    font-size: 1.2em;
    transition-duration: 0.3s;
}

.nav:hover {
    transform: scale(1.2);
}


/* Text Styling */
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

p {
    font-family: 'Quicksand', sans-serif;
}

li {
    font-family: 'Quicksand', sans-serif;
    color: black;
}

.section {
    padding: 1vh 5vw;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

iframe {
    display: inline;
    align-self: center;
}

.description {
    display: flex;
    flex-flow: column nowrap;
}

/* Images */
#trefoildrawing {
    padding-left: 3%;
    width: 25vw;
    max-height: 400px;
}

#tangledrawing {
    padding-right: 3%;
    width: 25vw;
    max-height: 400px;
}

#centerimg {
    display: block;
    margin: auto;
}